/*	Default stylesheet for the Carpe Slider
	By Tom Hermansson Snickars                 
	2005-12-17 version 1.5
	Copyright CARPE Design                     
	carpe.ambiprospect.com
*/
*.carpe_vertical_slider_display_combo {
	float: left;
	margin: 0;
}
*.carpe_vertical_slider_track {
	padding: 0px 0px 13px 0px;
	width: 10px;
	height: 100px;
	border: 0;
}
.carpe_vertical_slider_track *.carpe_slider_slit {
	background-color: #000;
	width: 1px;
	height: 100px;
	position: absolute;
	margin: 4px 5px 4px 5px;
	padding: 4px 0 1px 0;
	line-height: 0px;
	font-size: 0;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
}
*.carpe_vertical_slider_track *.carpe_slider {
	width: 10px;
	background-color: #69c;
	color: #333;
	position: relative;
	margin: 0;
	height: 4px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	border: 2px solid;
	border-color: #9be #47b #47b #9be;
}